body {
  font-size: 16px;
  color: #00000;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #efefef;
  border-radius: 0;
  border: 2px 2px 2px 2px;
  border-color: #000000;
  border-style: solid;
 color:#000000;
}

.navbar-header h3{
 

     font-family: 'Lora', serif;
     margin-left: 10px;
     float:left;
  color: #ff000;
  font-size: 1.5em;

  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
 
}
#nav-list a {
  color: #000000;
  text-align: center;


}
#nav-list a:hover {
  background: #ff000;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -90px;
}



.content-block  {

  margin: 10px 10px 10px 10px;
  border: 2px 2px 2px 2px;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  height: 2000px;
  background-color: #efefef;
}

